<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/xulydangnhap" method="post">
      <input type="text" name="ten" placeholder="Enter your name"><br><br>
      <input type="text" name="tuoi" placeholder="Enter your age"><br><br>
      <input type="submit" value="Send">
    </form>
  </body>
</html>
