<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% var arr = ["Khoa Pham", "acd"];
    %>
    <%arr.forEach(function(e){%>
       <h1><%=e%></h1>
    <%})%>

    <%if(tuoi >= 18){%>
      <p>ban da du tuoi</p>
    <%}else{%>
      <p>ban chua du tuoi</p>
    <%}%>

  </body>
</html>
